@media (max-width: 380px) {
    body._lock {
        overflow: hidden;
    }

    .menu__icon {
        display: block;
        position: relative;
        z-index: 5;
        width: 40px;
        height: 24px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::after,
    .menu__icon::before {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(113, 113, 113);
    }


    .menu__icon::after,
    .menu__icon::before {
        content: "";
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon span {
        top: 33%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon span:last-child {
        top: 66%;
    }


    .menu__body {
        position: fixed;
        top: 0;
        left: -120%;
        width: 100%;
        height: 100%;
        background-color: rgba(155, 155, 155, 0.8);
        padding: 75px 30px 30px 0px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    .menu__body::before {
        content: "";
        position: absolute;
        height: 96px;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgb(237, 242, 236);
        z-index: 2;
    }


    .menu__list {
        background-color: rgb(225, 230, 224);

    }

    .menu__link {
        font-size: 24px;
    }


    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    /* ------------------------------- */

    .header__container {
        padding-top: 25px;
        padding-bottom: 25px;

    }

    /* ------------------------------- */

    .welcome {
        padding: 24px 0;
    }

    .welcome__image {
        display: none;
    }

    .welcome__title {
        max-width: 330px;
        font-size: 25px;
        line-height: 140%;
    }

    .welcome__text {
        line-height: 156%;
        font-size: 16px;
        max-width: 314px;
        padding: 20px 0 24px 0;
    }

    .welcome__button {
        width: 100px;
        height: 34.14px;
        border: 2px solid #E06733;
        border-radius: 10px;
        font-size: 10px;
        line-height: 200%;
        color: #000000;
    }

    /* ------------------------------- */

    .about {
        padding: 30px 0 31px 0;
    }

    .about__title {
        font-size: 25px;
        line-height: 33px;
        width: 288px;
        text-align: center;
        margin: 0 0 14px 0;
    }

    .about__text {
        margin: 0;
        font-size: 15px;
        line-height: 25px;
    }

    .about__image {
        margin-top: 0;
        width: 150px;
        height: 147px;
    }

    /* ------------------------------- */

    .service {
        padding: 33px 0 27px 0;
    }

    .service__title {
        width: 187px;
        font-size: 25px;
        line-height: 33px;
    }

    .service__buttons {
        margin-top: 26px;
    }

    .service__button {
        margin: 10px 4px 0 0;
        width: 121px;
        height: 35px;

        font-size: 15px;
        line-height: 20px;
    }

    /* ------------------------------- */
    .prices {
        padding: 28px 0 40px 0;
    }

    .prices__title {
        font-size: 25px;
        line-height: 30px;
        padding-left: 0;
        text-align: center;
    }

    .prices__list {
        margin: 36px 0 19px 0;
        padding: 28px 21px;

        width: 224px;
        height: 235px;
    }

    .prices__item {
        width: 180px;
        margin-bottom: 13.92px;
        padding: 16px 25px 0 25px;
    }

    .prices__item:last-child {
        margin-bottom: 0;
    }

    .prices__item-title {
        padding-bottom: 2px;
    }

    .prices__sub-title {
        font-size: 15px;
    }

    .title-rigth {
        font-size: 20px;
        line-height: 35px;
        width: 230px;
    }

    .prices__button {
        margin: 21px 0 0 0;
        width: 121px;
        height: 35px;

        font-size: 15px;
        line-height: 20px;
    }

    .prices__image {
        display: none;
    }

    /* ------------------------------- */

    .contacts {
        padding-top: 25px;
    }

    .contacts__title {
        font-size: 25px;
        line-height: 33px;
    }

    .form__select-city {
        margin-top: 80px;
        margin-bottom: 45px;
        width: 300px;
        padding: 5px 22px 5px 18px;
    }

    .form__info {
        padding: 23px 36px;
    }

    .form__rows {
        margin: 0;
    }

    .form__row {
        line-height: 30px;
    }

    .form__row-name {
        width: 65px;
    }

    .form__row-value {
        width: auto;
    }

    .contacts__image {
        width: 100px;
        height: 124.25px;
    }

    .contacts__image img {
        height: 124.25px;
        padding: 0;
    }

    /* ------------------------------- */
    .footer {
        padding: 22px 0 16px 0;
    }

    .footer__links {
        margin-top: 12px;
    }

    .footer__links li {
        padding: 0 10px;
    }

    /* ------------------------------- */

    ._container {
        padding-left: 25px;
        padding-right: 25px;
    }
}