ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: #636060;
    font-weight: 400;
    font-style: normal;
    font-family: Inter;
    background-color: #FFF;
    scroll-behavior: smooth;
}

/* ------------------------------- */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1220px;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: content-box;
}

/* ------------------------------- */
.button {
    border: 1px solid #E06733;
    border-radius: 5px;
    font-size: 20px;
    line-height: 125%;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.8s ease 0s;
}

.button:hover {
    background-color: #E06733;
    color: #FFFFFF;
}

.arrow {
    display: block;
    background: #D9D9D9;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 6px;
    width: 0.5px;
    height: 3px;
    background-color: #717171;
    transform: rotate(-45deg);
}

.arrow::after {
    left: 9px;
    transform: rotate(45deg);
}

/* ------------------------------- */

.header {
    width: 100%;
    background-color: #EDF2EC;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 42px 10px;
}

.header__logo {
    display: flex;
    align-items: center;
    font-family: 'Inika';
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    position: relative;
    z-index: 5;
}

.header__logo img {
    padding: 0 1px 8px 0;
}

.menu__icon {
    display: none;
}

@media (min-width: 380px) {
    .menu__list {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .menu__item {
        padding-right: 47px;
    }
}


.menu__item:last-child {
    padding-right: 0;
}

.menu__link {
    color: #010201;
    font-size: 16px;
    font-family: 'Inika';
    text-decoration: none;
    line-height: 312%;
    transition: all 0.4s ease 0s;
}

.menu__link:hover {
    color: #E06733;
    text-shadow: .6px 0px 0px #E06733, -.6px 0px 0px #E06733;
}

/* ------------------------------- */

.welcome {
    background-color: #EDF2EC;
    padding: 60px 0;
}

.welcome__container {
    display: flex;
    justify-content: space-between;
}

.welcome__image {
    width: 450px;
    height: 407px;
}

.welcome__content {
    width: 549px;
    padding: 36px 0 0 0;
}

.welcome__title {
    color: #717171;
    font-weight: 700;
    font-size: 45px;
    line-height: 111%;
    margin: 0;
}

.welcome__title-green {
    color: #499A18;
}

.welcome__text {
    line-height: 175%;
    padding: 45px 0 48px 0;
    margin: 0;
}

.welcome__button {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
}

/* ------------------------------- */
.about {
    padding: 93px 0;
}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about__content {
    width: 605px;
}

.about__title {
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    color: #499A18;
    width: 463px;
    margin: 68px 0 40px 0;
}

.about__title-orange {
    color: #E06733;
}

.about__text {
    line-height: 150%;
}

/* ------------------------------- */

.service {
    background-color: #EDF2EC;
    padding: 40px 0 65px 0;
}

.service__header {
    max-width: 1007px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 82px;
}

.service__title {
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    color: #499A18;
    width: 306px;
    margin: 0;
}

.service__button {
    margin-right: 38px;
    padding: 0;
    width: 159px;
    height: 50px;
    font-family: 'Inika';
    line-height: 26px;
    color: #E06733;
}

.service__button._active {
    color: #FFFFFF;
    background: #f06124;
}

.service__button:last-child {
    margin-right: 0;
}

.service__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service__item {
    margin-bottom: 56px;
    transition: all 0.8s ease 0s;
}

.service__item._blured {
    filter: blur(2px);
}

.service__image {
    width: 330px;
    height: 350px;
}

.service__image img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.service__content {
    margin-top: -3px;
    width: 328px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__sub-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #E06733;
    margin: 12px 0;
    padding: 0;
}

.service__text {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 125%;
    color: #717171;
    margin: 0 0 36px 0;
}

/* ------------------------------- */

.prices {
    padding: 40px 0 110px 0;
}

.prices__container {
    display: flex;
    justify-content: space-between;
}

.prices__title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.prices__list {
    margin: 60px 0 14px 0;
    padding: 34px 41px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    overflow: hidden auto;
    height: 284px;
    box-sizing: border-box;
}

.prices__item {
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    margin-bottom: 32px;
    padding: 15px 40px;
    box-sizing: border-box;
}

.prices__item:last-child {
    margin-bottom: 0;
}

.prices__item._active {
    height: 154px;
    background: #D6E7D2;
}

.prices__item._active .prices__arrow {
    background: #AEA1A1;
    transform: rotate(180deg);
}

.prices__item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.prices__item._active .prices__item-title {
    border-bottom: 0.5px solid #AEA1A1;
}

.prices__sub-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.prices__content {
    display: none;
}

.prices__item._active .prices__content {
    display: block;
}

.prices__text {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
    margin: 6px 0;
}

.prices__price {
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.prices__price-colored {
    font-weight: 700;
    font-size: 16px;
    color: #E06733;
}

.prices__item-button {
    display: flex;
    width: 86px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    border: none;
    margin-top: 9px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.prices__contact {
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title-rigth {
    text-align: right;
    line-height: 50px;
}

.prices__title-green {
    color: #499A18;
}

.prices__button {
    padding: 0;
    width: 162px;
    height: 50px;
    font-family: 'Inika';
    line-height: 26px;
    color: #E06733;
    font-weight: 700;
    line-height: 26px;
    margin: 39px 0;
}

.prices__image {
    width: 152px;
}

/* ------------------------------- */

.contacts {
    background-color: #EDF2EC;
    padding-top: 53px;
}

.contacts__container {
    display: flex;
    justify-content: space-between;

}

.contacts__image {
    max-width: 400px;
    align-self: flex-end;
}

.contacts__image img {
    width: 100%;
}

.contacts__title {
    font-family: 'Inika';
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 7px 0 0 45px;
}

.form__select-city {
    box-sizing: border-box;
    height: 50px;
    width: 450px;
    margin-top: 88px;
    padding: 5px 35px 5px 20px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.form__select-city._active {
    background: #C1E698;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.form__arrow._active {
    transform: rotate(180deg);
}

.form__select-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.form__select-list {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 234px;
    background: #DCE9D9;
    padding: 27px 35px 31px 35px;
    box-sizing: border-box;
}

.form__select-list._active {
    display: block;
}

.form__select-item {
    margin-top: 12px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #499A18;
    cursor: pointer;
}

.form__select-item:first-child {
    margin-top: 0px;
}

.form__select-item:hover {
    border-bottom: 1px solid #717171;
    color: #717171;
}

.form__name-city {
    margin: 0;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}

.form__info {
    visibility: hidden;
    opacity: 0;
    margin: 55px 0 20px 0;
    padding: 18px 0 32px 0;
    height: 214px;
    background: #EDF2EC;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.8s ease 0s;
}

.form__info._active {
    visibility: visible;
    opacity: 1;
}

.form__rows {
    margin: 0 95px 0 35px;
}

.form__row {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
}

.form__row>p {
    margin: 0;
}

.form__row-name {
    color: #000000;
    width: 128px;
}

.form__row-value {
    color: #717171;
    width: 190px;
}

.form__button {
    text-decoration: none;
    text-align: center;
    padding: 7px 0;
    margin-top: 17px;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 10px;
    color: #717171;
    width: 122px;
    height: 26px;
}

/* ------------------------------- */
.footer {
    padding: 30px 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__data {
    line-height: 50px;
    color: #000000;
    margin-right: 80px;
}

.footer__data span {
    padding-right: 15px;
}

.footer__data span:last-child {
    padding-right: 0;
}

.footer__data span a {
    text-decoration: none;
    color: #000000;
}

.footer__data span a:hover {
    text-shadow: .4px 0px 0px #000000, -.4px 0px 0px #000000;
}

.footer__rs-school a {
    line-height: 50px;
    color: #000000;
    text-decoration: none;
}

.footer__rs-school a:hover {
    text-shadow: .4px 0px 0px #000000, -.4px 0px 0px #000000;
}

.footer__links {
    display: flex;
}

.footer__links li {
    padding-left: 20px;
}

.footer__link img {
    transform: scale(1);
    transition: all 0.5s ease 0s;
}

.footer__link:hover img {
    transform: scale(1.3);
}

.footer__link:last-child {
    padding-right: 0;
}


@media (max-width: 1024px) {
    .about__title {
        margin-top: 10px;
    }

    .about__image {
        width: 35vw;
        height: fit-content;
    }

    .service__button {
        margin-right: 10px;
        margin-bottom: 20px;
    }
}